.btn{
    font-size: 20px;
    padding: 15px 50px;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
    color: #ff5c8a;
    background: linear-gradient(to right, #008000,#004b23);
}